/* Place CSS styles here */
body {
    color: blue;
    font-family: 'Rock Salt', cursive;
    background:
linear-gradient(
    rgba (0,0,0,0.70),
    rgba (0,0,0,0.70)
),
url(../img/pallmpsest_and_prayer.jpeg);

background-size:cover;
}